<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">
        <h1>User List</h1>
        <div>
            {% for name in names %}
                <button onclick="window.location='{{ url_for('getAvailabilityForUser', username=name) }}'" class="btn btn-primary">
                    {{ name }}
                </button> <br><br>
            {% endfor %}
        </div>
                <button id="go-home" class="btn btn-secondary mt-3" onclick="window.location='{{ url_for('home') }}'">Go To Home</button>

    </div>

</body>
</html>
